<!DOCTYPE html>
<%- include('./header.ejs') %>
<html>
<div class="container">
    <%- include('./navbar.ejs') %>


    <% if (exists) { %>

        <h1><%= user.local.username %></h1>

        <% if (req.isAuthenticated() && req.user.role == "admin") { %>
            <!-- Lock the user !-->
            <form action="/lock" method="post" role="form">
                <button name="lock" value="<%= user._id %>" class="form-control">
                    Lock <span class="glyphicon glyphicon-lock"></span>
            </form>
        <% }; %>

        <hr>

        <% if (posts.length > 0) { %>
            <% var body = ''; %>
            <% posts.forEach(function(item, index) { %>
                <% body += posts[index].body + ' ' %>
            <% }); %>
            <p><%= body %></p>
        <% } else { %>
            <h4>Looks like <%= user.local.username %> hasn't posted anything yet.</h4>
        <% }; %>

    <% } else { %>

        <div class="jumbotron">
            <h1>Error: User not found.</h1>
            <p> User "<%= req.params.username %>" not found.</p>
        </div>

    <% }; %>

</div>
</html>
