<!DOCTYPE html>
<%- include('./header.ejs') %>
<html>
<div class="container">
    <%- include('./navbar.ejs') %>

    <% if (exists) { %>

        <h1><%= username %></h1>

        <hr>

        <% if (posts.length > 0) { %>
            <% var body = ''; %>
            <% posts.forEach(function(item, index) { %>
                <% body += posts[index].body + ' ' %>
            <% }); %>
            <p><%= body %></p>
        <% } else { %>
            <h4>Looks like <%= username %> hasn't posted anything yet.</h4>
        <% }; %>

    <% } else { %>

        <div class="jumbotron">
            <h1>Error: User not found.</h1>
            <p> User "<%= req.params.username %>" not found.</p>
        </div>

    <% }; %>

</div>
</html>
