<!DOCTYPE html>
<%- include('./header.ejs') %>
<html>
<div class="container">
    <%- include('./navbar.ejs') %>


    <% if (exists) { %>

        <h1><%= user.local.username %></h1>

        <div class="row">
            <% if (req.isAuthenticated() && req.user.role == "admin" || req.user.role == "dev") { %>
                <!-- Verify whether the user is locked or not !-->
                <% if (!user.locked) { %>
                    <!-- Lock the user !-->
                    <div class="col-sm-3">
                        <form action="/lock" method="post" role="form">
                            <button name="lock" value="<%= user._id %>"
                                class="form-control btn btn-danger">
                                Lock <span class="glyphicon glyphicon-lock"></span>
                        </form>
                    </div>
                <% } else { %>
                    <!-- Unlock the user !-->
                    <div class="col-sm-3">
                        <form action="/unlock" method="post" role="form">
                            <button name="unlock" value="<%= user._id %>"
                                class="form-control btn btn-success">
                                Unlock <span class="glyphicon glyphicon-lock"></span>
                        </form>
                    </div>
                <% }; %>
            <% }; %>
        </div>

        <hr>

        <% if (posts.length > 0) { %>
            <% var body = ''; %>
            <% posts.forEach(function(item, index) { %>
                <% body += posts[index].body + ' ' %>
            <% }); %>
            <p><%= body %></p>
        <% } else { %>
            <h4>Looks like <%= user.local.username %> hasn't posted anything yet.</h4>
        <% }; %>

    <% } else { %>

        <div class="jumbotron">
            <h1>Error: User not found.</h1>
            <p> User "<%= req.params.username %>" not found.</p>
        </div>

    <% }; %>

</div>
</html>
